# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
MeshProcesser/x64/Debug/vc142.pdb
MeshProcesser/x64/Debug/vc142.idb
MeshProcesser/x64/Debug/MeshProcesser.vcxproj.FileListAbsolute.txt
MeshProcesser/x64/Debug/MeshProcesser.tlog/MeshProcesser.lastbuildstate
MeshProcesser/x64/Debug/MeshProcesser.tlog/link.write.1.tlog
MeshProcesser/x64/Debug/MeshProcesser.tlog/link.read.1.tlog
MeshProcesser/x64/Debug/MeshProcesser.tlog/link.command.1.tlog
MeshProcesser/x64/Debug/MeshProcesser.tlog/CL.write.1.tlog
MeshProcesser/x64/Debug/MeshProcesser.tlog/CL.read.1.tlog
MeshProcesser/x64/Debug/MeshProcesser.tlog/CL.command.1.tlog
MeshProcesser/x64/Debug/MeshProcesser.pdb
MeshProcesser/x64/Debug/MeshProcesser.log
MeshProcesser/x64/Debug/MeshProcesser.ilk
MeshProcesser/x64/Debug/MeshProcesser.exe.recipe
MeshProcesser/.vs/MeshProcesser/v16/ipch/AutoPCH/9d85ef11979da16c/MAIN.ipch
MeshProcesser/.vs/MeshProcesser/v16/ipch/AutoPCH/8bddde308d022c01/MAIN.ipch
MeshProcesser/.vs/MeshProcesser/v16/ipch/AutoPCH/3a787fc46c62490/MESHPROCESSER.ipch
MeshProcesser/.vs/MeshProcesser/v16/Browse.VC.opendb
MeshProcesser/.vs/MeshProcesser/v16/Browse.VC.db-wal
MeshProcesser/.vs/MeshProcesser/v16/Browse.VC.db-shm
MeshProcesser/.vs/MeshProcesser/v16/Browse.VC.db
MeshProcesser/.vs/MeshProcesser/v16/.suo
MeshProcesser/.vs/MeshProcesser/v16/ipch/AutoPCH/fed3a8298394327a/IMGUI.ipch
MeshProcesser/.vs/MeshProcesser/v16/ipch/AutoPCH/e47c2f4975a36fdf/MESH.ipch
MeshProcesser/.vs/MeshProcesser/v16/ipch/AutoPCH/920a48d34839b56f/MESHPROCESSER.ipch
MeshProcesser/.vs/MeshProcesser/v16/ipch/AutoPCH/74775c923da22ef0/IMGUI_WIDGETS.ipch
MeshProcesser/.vs/MeshProcesser/v16/ipch/AutoPCH/431ea97e447771d4/MESH.ipch
MeshProcesser/.vs/MeshProcesser/v16/ipch/AutoPCH/3a785ddab48b8dd/MESH.ipch
MeshProcesser/bin/MeshProcesser.ilk
MeshProcesser/bin/MeshProcesser.pdb
